.center {
    width: 50%;
    margin-top: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    position: relative;
    left: 20%;
}

.list-header {
    height: 50px;
    width: 50%;
    border-bottom: 1px solid hsla(0,0%,100%,.1);
    line-height: 50px;
    overflow: hidden;
    color: #fff;
    letter-spacing: 2px;
    position: relative;
    left: 20%;
}

.song-name {
    padding-left: 100px;
}

.singer {
    position: absolute;
    right: 40px;
}

.song-list {
    cursor: pointer;
}

.song {
    color: hsla(0,0%,100%,.6);
}

.song-name:hover {
    color: #fff;
}