*{
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a{
    text-decoration: none;
    
}

body{
    background-image:url('../images/background.jpg') ;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    background-attachment: fixed;
}
.registered{
    background-color: white;
    opacity:0.7;
    width: 500px;
    height: 322px;
    position: absolute;
    left: 36%;
    top: 32%;
    line-height: 2em;
    border-radius: 3%;
}

.registered h1{
    text-align: center;
    line-height: 130px;
    font-size: 3em;
    top: 50%;
}
.registered .user{
    position: absolute;
    left: 12%;
    top: 35%;
    width: 100%;
    
}
.registered .spans{
    display: block;
    line-height: 3.5em;
}
.registered .spans:hover{
    cursor: default;
    
}


/* .login .spans:nth-child(2){
    display: block;
    line-height: 5em;
    margin-left: 3.6%;
    
} */


.registered .login_u{
    width: 50%;
    height: 26px;
}
.registered .login_p{
    width: 50%;
    height: 26px;
    margin-left: 3.3%;
}
.registered input:active{
    color: #fff;
}

.registered .user .buttons{
    background-color: rgba(96,85,81,.5);
    width: 33%;
    height: 52px;
    position: relative;
    left: 23%;
    margin-top: 20px;

}
.registered .user .buttons:hover{
    cursor: pointer;
}
.registered .returns{
    position: absolute;
    top: 90%;
    text-indent: 1em;
}