<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<link rel="stylesheet" href="cloud_player/app/static/css/login.css">-->
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Document</title>
</head>

<body>
    <div class="login">
            <h1>登录</h1>
            <form action="/login" class="user" method="POST">
            <span class="spans">用户名：<input type="text" name="username"  class="login_u"></span>
            <span class="spans"> 密码：<input type="password" name="password"  class="login_p"></span>
            <button type="submit" value="登录" class="buttons">登录</button>
          </form>
        <span class="registered"><a href="/register"> 免费注册</a></span>
    </div>
   
</body>
</html> 